@import url("colors/colors-mat.css");

* {
    font-family: Adwaita Sans, JetBrainsMono Nerd Font, sans-serif;
}

#waybar {
    background-color: @background;
    color: @accent;
    padding: 10px;
    border-radius: 8px;
}

#custom-logo {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 6px;
    color: @primary;
}

#custom-slash {
    font-size: 25px;
    margin: 0 2px;
    font-weight: bold;
    color: alpha(@on_background, 0.3);
}

#windowgroup {
    margin-left: 3px;
    margin-right: 10px;
}

#window.title {
    font-size: 14px;
    font-weight: bold;
    color: @on_background;
}

#window.app {
    font-size: 13px;
    color: alpha(@on_background, 0.5);
}

#workspaces {
    margin-left: 10px;
    margin-right: 10px;
    background-color: @surface_container;
    border-radius: 8px;
    color: @on_surface;
    font-size: 14px;
    padding: 0;
    margin: 5px;
}

#workspaces button.empty {
    background-color: @surface_container;
    color: alpha(@on_surface, 0.5);
    padding: 4px;
    margin: 0 2px;
}

#workspaces button {
    background-color: @primary_container;
    color: @on_primary_container;
    border-radius: 50px;
    padding: 4px;
    margin: 0 2px;
}

#workspaces button.visible {
    background-color: @secondary;
    color: @on_secondary;
}
#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
}

#clock {
    background-color: @surface_container;
    padding: 0 5px;
    border-radius: 8px;
    margin: 5px;
    color: @on_surface;
    font-weight: normal;
    font-size: 14px;
}

#power {
    padding-right: 5px;
    margin: 0 3px;
}

#custom-shutdown,
#custom-reboot,
#custom-suspend,
#custom-quit,
#custom-lock {
    margin: 4px;
    color: @on_background;
}

#custom-shutdown {
    color: @secondary;
}

.modules-right {
    color: @on_background;
    
}

#pipewire,
#bluetooth {
    margin: 0 10px;
    font-size: 20px;
}

#bluetooth {
    font-size: 15px;
}

#bluetooth.off {
    color: @error;
}

#bluetooth.connected {
    color: @tertiary;
}

#pipewire {
    color: @primary;
}

#custom-swaync {
    margin: 0 10px;
    font-size: 15px;
}